@font-face {
    font-family: Comfortaa-VariableFont_wght;
    src: url('./Comfortaa/Comfortaa-VariableFont_wght.ttf') format('truetype');
}


nav {
    box-sizing: border-box;
    width: 100%;
    height: 70px;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    position: fixed;
    z-index: 1;
}

    nav a {
        margin: 1em 0;
        vertical-align: middle;
        color: black;
    }

    nav a img {
        height: 1.25em;
    }

.logo {
    font-family: Comfortaa-VariableFont_wght;
    font-weight: bold;
    font-size: larger;
    vertical-align: middle;
    padding: 0 10px;
}

a {
    color: #1E51BE;
    text-decoration: none;
}


nav div {
    display: flex;
    flex-direction: row;
}


h1 {
    font-family: Comfortaa-VariableFont_wght;
    font-weight: bolder;
}

h3 {
    font-family: Comfortaa-VariableFont_wght;
}

h3 img, h1 img {
    height: 0.89em;
    vertical-align: baseline;
}

card {
    background-color: white;
    border: 2px solid #eaeaea;
    width: 100%;
    margin-bottom: 30px;
}

    card p, h3 {
        margin: 0 0 10px;
        padding: 0 15px;
    }

    card img {
        box-sizing: border-box;
        width: 100%;
        object-fit: contain;
    }

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px;
    position: absolute;
    text-align: center;
    top: 70px;
    left: 50%;
    transform: translate(-50%, 0);
}

body {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    text-overflow: ellipsis;
    background-color: #f1f1f1;
}

@media only screen and (max-width: 1000px) {
    /* Media queries go here */
}


@media only screen and (max-width: 600px) {
    /* Media queries go here */
}

