@font-face {
    font-family: Comfortaa-VariableFont_wght;
    src: url('./Comfortaa/Comfortaa-VariableFont_wght.ttf') format('truetype');
}


nav {
    box-sizing: border-box;
    width: 100%;
    height: 70px;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    background-color: #f1f1f1;
    position: fixed;
    z-index: 1;
}

    nav button {
        background: none !important;
        border: none;
        padding: 0 10px 0 10px !important; 
        cursor: pointer;
        margin: 1em 0;
        vertical-align: middle;
        color: black;
        font-size: medium;
        font-family: Comfortaa-VariableFont_wght;
        
    }

        nav button img {
            height: 1.25em;
        }

.logo {
    font-family: Comfortaa-VariableFont_wght;
    font-weight: bold;
    font-size: larger;
    vertical-align: middle;
    padding: 0 10px;
}

a {
    color: #1548B5;
    text-decoration: none;
}


nav div {
    display: flex;
    flex-direction: row;
}

p {
    font-family: Comfortaa-VariableFont_wght;
    font-size: 1em;
}




button {
    font-family: Comfortaa-VariableFont_wght;
    padding: 10px 24px;
    /* border-radius: 2px; */
    transition-duration: 0.4s;
}

button:hover {
    background-color: #4CAF50; /* Green */
    /* color: white */
}

h1 {
    font-family: Comfortaa-VariableFont_wght;
    font-weight: bolder;
}

h3 {
    font-family: Comfortaa-VariableFont_wght;
}

    h3 img, h1 img {
        height: 0.89em;
        vertical-align: baseline;
    }

card {
    background-color: white;
    border: 2px solid #eaeaea;
    width: 100%;
    margin-bottom: 30px;
}

    card p, h3 {
        margin: 0 0 10px;
        padding: 0 15px;
    }

    card img {
        box-sizing: border-box;
        width: 100%;
        object-fit: contain;
    }

main {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px;
    position: absolute;
    text-align: center;
    height:100%;
    left:50%;
    width: 100%;
    transform: translate(-50%, 0);
}

body {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    text-overflow: ellipsis;
    background-color: white;
}

.textbox {
    padding: 0 10px;
    width: calc(100% - 90px);
    position: absolute;
    bottom: 27px;
    display: flex;
    height: 50px;
}

.text{
    width: 100%;
}

.fas {
    right: 0px;
    position: absolute;
    bottom: 20px;
}

.instructions{
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    
}

.statement{
    border: 2px solid rgb(184, 203, 183);
    background-color: #E0ECDF;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;

    align-self: flex-end;
}

.chat {
    position: absolute;
    bottom: 80px;
    width: 90%;
    align-self: center;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.no-input {
    bottom: 10px;
}

.chat-input {
    bottom: 0;
    box-sizing: border-box;
}

.response{
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
  
}

.center {
    align-self: center;
}

.center-text {
    position: absolute;
    margin-right: auto;
    margin-left: auto;
    left: 0;
    right: 0;
    bottom: 10px;
    text-align: center;
}

/* Then style the iframe to fit in the container div with full height and width */
iframe {
    width: auto;
    height: auto;
}

.about {
    display: block;
    top: 50px;
}

.a1 {
    font-size: 2em;
    display: flex;
    color: black;
    font-family: Comfortaa-VariableFont_wght;
    align-self: center;
    right: 200px;
    position: absolute;
 }
.a2 {
    font-size: 1em;
    display: flex;
    color: black;
    font-family: Comfortaa-VariableFont_wght;
    align-self: center;
    right: 150px;
    position: absolute;
 }

@media only screen and (max-width: 1000px) {
    /* Media queries go here */
}

@media only screen and (max-width: 700px) {
    /* Media queries go here */
    
       
    

}
